<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="logging/properties.xml"/>

    <include resource="logging/console-logging.xml"/>

    <include resource="logging/dev-logging.xml"/>
    <include resource="logging/test-logging.xml"/>
    <include resource="logging/win-logging.xml"/>
</configuration>
