<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds">
    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter"/>

    <property name="LOG_PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%-21thread] %highlight(%-5level) %cyan(%logger{36}:%5line) - %m%n"/>
    <property name="FILE_LOG_PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%-21thread] %-5level %logger:%5line - %m%n"/>
    <property name="LOG_CHARSET" value="UTF-8"/>
    <timestamp key="BY_DATE" datePattern="yyyy-MM-dd"/>

    <include resource="logging/test-logging.xml"/>
    <include resource="logging/dev-logging.xml"/>
    <include resource="logging/win-logging.xml"/>
</configuration>
