
<thymeleaf th:replace="~{fragment/htmlHead}"></thymeleaf>
  <script defer type="module" src="/js/board/boardNew.js"></script>
  <title>New Board</title>
</head>
<body>
  <div th:replace="~{fragment/header :: header}"></div>

  <div class="container">

      <div th:replace="~{fragment/board/boardHeader}"></div>
      <h2>Hello, you can post here.</h2>
      
    <form id="form">
      <div class="mb-3">
        <label class="form-label" for="board-title">title
          <input type="text" name="title" class="form-control" id="board-title" />
        </label>
      </div>

      <div class="mb-4">
        <label class="form-label" for="board-content">content
          <textarea type="text" name="content" class="form-control" id="board-content" rows="6"></textarea>
        </label>
      </div>
    </form>
    <div class="mb-3" id="buttons-area">
      <!-- if watcher is modify, delete -->

    </div>
  </div>


<thymeleaf th:replace="~{fragment/footer}"></thymeleaf>
