<thymeleaf th:replace="~{fragment/htmlHead}"></thymeleaf>
  <script defer type="module" src="/js/board/board.js"></script>
  <title>Board</title>
</head>

<body>
  <div th:replace="~{fragment/header :: header}"></div>

  <div class="container" id="container">

    <div th:replace="~{fragment/board/boardHeader}"></div>
    <h2>Hello, you're watching /board/<span id="board-id"></span></h2>

    <div class="mb-3">
      <div class="display-5" id="board-title"></div>
    </div>

    <div class="mb-3 d-flex justify-content-between">
      <div class="my-auto" id="board-writer"><a href=""></a></div>
      <div class="row">
        <div class="my-auto" id="board-hits" style="text-align: right"></div>
        <div class="my-auto" id="board-date" style="text-align: right"></div>
      </div>
    </div>

    <div class="mb-4" id="board-content"></div>
    <div class="mb-3" id="buttons-area"></div>
  </div>

  <thymeleaf th:replace="~{fragment/footer}"></thymeleaf>