<thymeleaf th:replace="~{fragment/htmlHead}"></thymeleaf>
<script defer type="module" src="/js/board/boardNew.js"></script>
<title>New Board</title>
</head>

<body>
  <div th:replace="~{fragment/header :: header}"></div>

  <div class="container">

    <div th:replace="~{fragment/board/boardHeader}"></div>
    <h2>Hello, you can post here.</h2>

    <form id="form" method="POST">
      <div class="mb-3">
        <label class="form-label" for="board-title">title</label>
        <input type="text" name="title" class="form-control" id="board-title" />
      </div>

      <div class="mb-4">
        <label class="form-label" for="board-content">content</label>
        <textarea type="text" name="content" class="form-control" id="board-content" rows="10" cols="100"></textarea>
      </div>
    </form>

    <div class="mb-3" id="buttons-area"></div>
  </div>


  <thymeleaf th:replace="~{fragment/footer}"></thymeleaf>