<div th:fragment="header" class="container">

  <div class="d-flex" style="height: 6rem">
    <div class="container m-auto">
      <div class="d-flex justify-content-between">
        <button class="btn" onclick="location.href = '/';">
          <img class="" style="height:3rem;" src="/img/logo/heron-h-48.png" />
        </button>
        <div class="d-flex">
          <button class="btn btn-dark helllo m-auto" id="theme-toggle-button">Theme</button>
        </div>
      </div>
    </div>
  </div>

</div>