<!DOCTYPE html>
<html lang="en">

<head>
  <thymeleaf th:replace="~{fragment/htmlHead}"></thymeleaf>
  <title>400 Bad Request</title>
</head>

<body>
  <div th:replace="~{fragment/header :: header}"></div>

  <div class="container">
    <div class="mb-3 row" style="margin-top: 2rem;">
      <h2>올바른 요청이 아닙니다.</h2>
      <h2>Bad Request</h2>
    </div>
    <div class="mb-3" id="buttons-area">
      <button class="btn btn-secondary" onclick="location.href = '/';">메인으로</button>
    </div>
  </div>

  <thymeleaf th:replace="~{fragment/footer}"></thymeleaf>