textarea {
    white-space: pre-wrap;
}

#board-content, .comment-content-selector {
    white-space: pre-wrap;
}

.comment-content-selector > a {
    word-break: break-all !important;
}

button > img:hover {
    transform: translateY(-.2rem);
    transition: transform 0.3s ease;
}
