<thymeleaf th:replace="~{fragment/htmlHead}"></thymeleaf>
<script defer type="module" src="/js/index.js"></script>
<thymeleaf th:replace="~{fragment/scriptsAfterDOM}"></thymeleaf>
<title>Home</title>
</head>

<body>
  <div th:replace="~{fragment/header :: header}"></div>

  <main class="" style="height: 15rem;">
    <div class="container m-auto">
      <div class="mb-3 d-flex justify-content-center">
        <h2>Hello, you came here, index.</h2>
      </div>
      <div class="mb-3 d-flex justify-content-center" id="buttons-area"></div>
      <div class="mb-3" id="profile-image-container">
        <div class="d-flex justify-content-center" id="profile-image-preview-container">

        </div>
      </div>
    </div>
    <div class="container mb-3 text-center" id="test-jwt-area" style="height:15rem; overflow-y:auto;"></div>
  </main>

  <thymeleaf th:replace="~{fragment/footer}"></thymeleaf>