<thymeleaf th:replace="~{fragment/htmlHead}"></thymeleaf>
<script defer type="module" src="/js/index.js"></script>
<thymeleaf th:replace="~{fragment/scriptsAfterDOM}"></thymeleaf>
<title>Home</title>
</head>

<body>
  <div th:replace="~{fragment/header :: header}"></div>

  <main class="d-flex" style="height: 25vh;">
    <div class="container m-auto">
      <div class="mb-3 d-flex justify-content-center">
        <h2>Hello, you came here, index.</h2>
      </div>
      <div class="mb-3 d-flex justify-content-center" id="buttons-area"></div>
      <div class="mb-3" id="test-jwt-area"></div>
    </div>
  </main>

  <thymeleaf th:replace="~{fragment/footer}"></thymeleaf>